/*@font-face {*/
/*    font-family: Acumin;*/
/*    font-weight: bold;*/
/*    src: url("Acumin-BdPro.otf") format("opentype");*/
/*}*/

#app-container {
    width: 100%;
    max-width: none;
}

body {
    background-color: #f9f9f9;
    color: #333333;
    font-size: 15px;
    margin: 0px;
}

hr {
    margin: 0.3rem 0rem;
}

.banner {
    height: 5.5rem;
    padding: 0rem 2rem 0rem;
    background-color: white;
    display: flex;
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*align-self:flex-end;*/
}

.banner Img, A {
    height: 4rem;
    width: auto;
}

H2 {
    color: #7e3cf1;
    font-weight: 300;
}

H5 {
    color: #3916af;
    font-weight: 300;
}

H6 {
    color: #3916af;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: 0;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
    margin-left: 0.20rem;
}

A {
    color: #3916af;
}
H5, H3, H6 {
    font-family: Acumin, "Helvetica Neue", sans-serif;

}
footer {
    font-size: 1.0rem;
    font-style: italic;
}

Li{
    padding-left: 1.0rem;
}

#left-column {
    margin-top: 20px;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    min-height: calc(100vh - 5.5rem);
}

#right-column {
    background-color: #f4f4f4;
    padding: 0rem 2rem;
    min-height: calc(100vh - 5.5rem);
}

.table-row {
    height: 63px;
    vertical-align: middle;
    font-size: 13px;
}

.wait_time_graph > div, .patient_score_graph > div {
    height: 100% !important;
    width: 100% !important;
}

.draglayer {
    cursor: pointer !important;
}

#intro {
    margin: 20px 0px;
    font-family: "Helvetica Neue", sans-serif;
    text-align: justify;
}
#hm-control-card {
    margin: 0px 0px;
}

#hm-control-card > p {
    margin: 10px 0px;
    font-weight: bold;
}
#momentum-inputs {
    /*margin: 5px 0px;*/
    padding: 1rem;
    display: inline-flex;
    flex-direction: row;
    gap: 10px;

}
#table-control-card {
    margin: 0px 0px;
}

#table-control-card > p {
    margin: 10px 0px;
    font-weight: bold;
}

#regular_numbers_card, #yotta_ball_card {
    background-color: #FFFFFF;
    padding: 1rem;
    margin: auto;
    margin-top: 20px;
}

#regular_numbers_card > b, #yotta_ball_card > b {
    line-height: 2.5;
}

#yotta_ball_card {
    margin: 20px 0px;
}

#submit-btn, #reset-btn {
    background-color: #3916af;
    color: #FFFFFF;
}

.control-tab--selected {
    color: #3916af !important;
    /*background-color: rgb(97, 94, 94) !important;*/
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid transparent !important;
    padding: 1px;
    border-top: 3px solid rgb(137, 66, 252) !important;
}

.table-row:nth-child(even) {
    background-color: #f2f2f2;
}

.row-department > b {
    display: table-cell;
    vertical-align: middle;
}



button.export {
color: #ffffff !important;
background-color: #3916af; !important;
border-color: #17a2b8;
display: inline-block;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/*
  ##Device = Most of the Smartphones Mobiles / ipad (Portrait)
  */

@media only screen and (max-width: 750px), screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        font-size: 13px;
        margin: 0px;
    }

    .banner {
        height: 6rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    #intro {
        margin: 10px 0px;
    }

    #left-column, #right-column {
        width: 100%;
        margin-left: 0px;
    }

    #right-column {
        padding: 0rem 0.5rem;
    }

    #submit-btn-outer, #reset-btn-outer {
        text-align: center;

    }

    .table-row > div {
        width: 100% !important;
        text-align: center;
        margin: auto;
    }

    .table-row:nth-child(even), .table-row:nth-child(odd) {
        background-color: #FFFFFF;
    }

    #header {
        display: none;
    }

    #regular_numbers_card > b, #yotta_ball_card > b {
        line-height: 2.5;
        font-size: 13px;
        display: block;
        text-align: center;
    }

    .annotation-text {
        font-size: 0.8rem !important;
    }
}